html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Inter", sans-serif;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  overflow-x: hidden;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  outline: none;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
  pointer-events: auto;
  -webkit-tap-highlight-color: transparent;
}

.layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-color: #FFFFFF;
}

.wrapper {
  max-width: 1250px;
  height: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  width: 160px;
  height: 52px;
  background-color: #FFFFFF;
  border: 1px solid #E9EAF3;
  border-radius: 48px;
  box-shadow: 0px 4px 10px rgba(20, 20, 43, 0.04);
}
.button_stretch {
  width: fit-content;
  padding: 0 35px;
  white-space: nowrap;
}
.button_active {
  background-color: #1476FF;
  color: #FFFFFF;
}

.header__container-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0;
  height: 100%;
}
@media (max-width: 767px) {
  .header__container-flex {
    flex-direction: column;
    min-height: auto;
  }
}
@media (max-width: 767px) {
  .header__logo {
    margin: 0 0 45px 0;
  }
}
@media (max-width: 767px) {
  .header__logo img {
    width: 250px;
  }
}
.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .header__nav {
    flex-direction: column-reverse;
  }
}
.header__nav-pages {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 40px 0 0;
}
@media (max-width: 992px) {
  .header__nav-pages {
    margin: 0 28px 0 0;
  }
}
@media (max-width: 767px) {
  .header__nav-pages {
    margin: 0;
  }
}
.header__pages-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  margin: 0 28px 0 0;
  color: #FFFFFF;
  background-color: #1476FF;
  border-radius: 50%;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 11px;
  text-align: center;
}
@media (max-width: 992px) {
  .header__pages-number {
    margin: 0 10px 0 0;
  }
}
.header__pages {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}
@media (max-width: 767px) {
  .header__nav-link {
    margin: 0 0 20px 0;
  }
}
.header__nav-link:first-of-type {
  margin: 0 22px 0 0;
}
@media (max-width: 992px) {
  .header__nav-link:first-of-type {
    margin: 0 15px 0 0;
  }
}
@media (max-width: 767px) {
  .header__nav-link:first-of-type {
    margin: 0 0 40px 0;
  }
}

.presentation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #F7F9FC;
}
.presentation__block-left {
  flex: 0 0 100%;
}
@media (max-width: 992px) {
  .presentation__block-left {
    z-index: 2;
  }
}
.presentation__block-left_wrapper {
  max-width: 1250px;
  height: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.presentation__block-left_body {
  width: 46.8%;
}
@media (max-width: 992px) {
  .presentation__block-left_body {
    width: 100%;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.presentation__title {
  margin-bottom: 15px;
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  line-height: 66px;
  color: #0B0E2C;
}
.presentation__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 32px;
  color: #6F7182;
  margin-bottom: 43px;
}
@media (max-width: 992px) {
  .presentation__subtitle {
    color: #0B0E2C;
  }
}
.presentation__link-container {
  display: flex;
  flex-direction: row;
}
@media (max-width: 992px) {
  .presentation__link-container {
    display: none;
  }
}
.presentation__link:first-child {
  margin-right: 14px;
}
.presentation__block-right {
  background-color: #F7F9FC;
  padding: 80px 0;
  flex: 0 0 100%;
  transform: translate(-40%, 0);
}
@media (max-width: 992px) {
  .presentation__block-right {
    padding: 10px 0;
    z-index: 1;
    transform: translate(-100%, 0);
    opacity: 0.2;
  }
}
.presentation__image {
  position: relative;
  transform: translate(-150px, 0);
}
@media (max-width: 992px) {
  .presentation__image {
    transform: translate(0, 0);
  }
}
.presentation__screens-number {
  position: absolute;
  top: 20%;
  left: 15%;
}
@media (max-width: 992px) {
  .presentation__screens-number {
    opacity: 0.6;
    top: 60%;
    left: 60%;
  }
}
.presentation__screens-number_container {
  position: absolute;
  top: 38%;
  left: 39%;
}
.presentation__screens-number_number {
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  line-height: 66px;
  color: #FFFFFF;
}
.presentation__screens-number_subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
  letter-spacing: 1.08px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.features {
  margin: 0 0 180px 0;
  padding: 185px 0 0 0;
}
.features__title {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #0B0E2C;
  max-width: 496px;
  margin: 0 auto 20px auto;
}
.features__cards-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 789px;
  margin: 0 auto 48px auto;
}
@media (max-width: 800px) {
  .features__cards-container {
    flex-direction: column;
  }
}
.features__description {
  background: #FFFFFF;
  border: 1px solid #E9EAF3;
  box-shadow: 0px 2px 10px rgba(25, 93, 194, 0.07);
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  margin: 0 0 35px 0;
}
@media (max-width: 1050px) {
  .features__description {
    flex-direction: column-reverse;
    padding: 20px 15px 0 15px;
  }
}
.features__description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
@media (max-width: 1050px) {
  .features__description-container {
    align-items: center;
  }
}
.features__description-img {
  margin: 0 29px 0 0;
}
.features__description-title {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #0B0E2C;
  margin: 0 0 8px 0;
  max-width: 384px;
  text-align: left;
}
@media (max-width: 1050px) {
  .features__description-title {
    text-align: center;
  }
}
.features__link {
  margin: 0 0 13px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.96px;
  text-transform: uppercase;
  color: #1476FF;
}
.features__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 32px;
  color: #6F7182;
  margin: 0 0 35px 0;
  line-height: 26px;
}
@media (max-width: 1050px) {
  .features__subtitle {
    text-align: center;
  }
}
.features__figma {
  background: #FFFFFF;
  border: 1px solid #E9EAF3;
  box-shadow: 0px 2px 10px rgba(25, 93, 194, 0.07);
  border-radius: 20px;
  overflow: hidden;
  display: flex;
}
@media (max-width: 1050px) {
  .features__figma {
    flex-direction: column;
    padding: 20px 15px 0 15px;
  }
}
.features__figma-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 0 0 70px;
}
@media (max-width: 1050px) {
  .features__figma-container {
    align-items: center;
    padding: 0;
  }
}
.features__figma-title {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #0B0E2C;
  margin: 0 0 15px 0;
  max-width: 384px;
  text-align: left;
}
@media (max-width: 1050px) {
  .features__figma-title {
    text-align: center;
  }
}
.features__button {
  margin: 0 0 27px 0;
}
.features__button-img {
  margin: 0 12px 0 0;
}

.card {
  background: #FFFFFF;
  border: 1px solid #E9EAF3;
  box-shadow: 0px 2px 10px rgba(25, 93, 194, 0.07);
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  padding: 25px 35px 33px 35px;
}
@media (max-width: 800px) {
  .card {
    margin: 0 0 15px 0;
    width: 50%;
  }
}
@media (max-width: 710px) {
  .card {
    width: 80%;
  }
}
@media (max-width: 450px) {
  .card {
    width: 80%;
    flex-direction: column;
  }
}
.card img {
  margin: 0 10% 0 0;
}
@media (max-width: 450px) {
  .card img {
    width: 50%;
    margin: 0 auto 10px auto;
  }
}
.card__text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
}
@media (max-width: 800px) {
  .card__text-container {
    flex-direction: row;
    align-items: center;
  }
}
@media (max-width: 450px) {
  .card__text-container {
    flex-direction: column;
  }
}
.card__number {
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 54px;
  color: #0B0E2C;
}
@media (max-width: 800px) {
  .card__number {
    margin: 0 10px 0 0;
  }
}
@media (max-width: 450px) {
  .card__number {
    margin: 0;
  }
}
.card__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 32px;
  color: #6F7182;
  font-size: 18px;
  line-height: 23px;
}

.pages {
  background-color: #F7F9FC;
  padding: 0 0 388px 0;
}
.pages__title {
  padding: 179px 0 0 0;
  margin: 0 0 18px 0;
  font-weight: 700;
  font-size: 44px;
  line-height: 52px;
  text-align: center;
}
.pages__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 32px;
  color: #6F7182;
  margin: 0 0 60px 0;
  text-align: center;
}
.pages__buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 58.08%;
  margin: 0 auto 64px auto;
}
.pages__buttons-container button {
  margin: 0 14px 14px 0;
  cursor: pointer;
}
.pages__buttons-container a {
  margin: 0 14px 0 0;
}

.pages-container {
  margin: 0 auto 48px auto;
}
.pages-container__title {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #0B0E2C;
  margin: 0 0 32px 0;
}
.pages-container__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.pages-container__card {
  width: 48.8%;
  margin: 0 28px 48px 0;
}
.pages-container__card-wrapper {
  background: #FFFFFF;
  border: 1px solid #E9EAF3;
  box-shadow: 0px 2px 10px rgba(25, 93, 194, 0.07);
  border-radius: 20px;
  overflow: hidden;
  margin: 0 0 25px 0;
  padding: 33px;
}
.pages-container__card:nth-child(2n) {
  margin: 0 0 0 0;
}
.pages-container__subtitle {
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  color: #0B0E2C;
}

.selling {
  margin: -40px;
}
.selling__container {
  background: #FFFFFF;
  border: 1px solid #E9EAF3;
  box-shadow: 0px 2px 10px rgba(25, 93, 194, 0.07);
  border-radius: 20px;
  overflow: hidden;
  transform: translate(0, -180px);
  border: none;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  display: flex;
  background-color: #1476FF;
}
.selling__container_left-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 84px 0 84px;
}
.selling__title {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #0B0E2C;
  margin: 0 0 8px 0;
  color: #FFFFFF;
  text-align: left;
}
.selling__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 32px;
  color: #6F7182;
  margin: 0 0 43px 0;
  color: #FFFFFF;
  font-size: 10px;
}
.selling__button {
  color: #1476FF;
}

.footer {
  background-color: #F7F9FC;
}
.footer__container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 32px;
  color: #6F7182;
  min-height: 81px;
  line-height: 26px;
}
.footer__copyright {
  margin: 0 6px 0 0;
}
.footer__link {
  color: #1476FF;
}

/*# sourceMappingURL=index.css.map */
