html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Inter", sans-serif;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  overflow-x: hidden;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  outline: none;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
  pointer-events: auto;
  -webkit-tap-highlight-color: transparent;
}

.layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-color: #FFFFFF;
}

.wrapper {
  max-width: 1250px;
  height: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  width: 160px;
  height: 52px;
  background-color: #FFFFFF;
  border: 1px solid #E9EAF3;
  border-radius: 48px;
  box-shadow: 0px 4px 10px rgba(20, 20, 43, 0.04);
}
.button_active {
  background-color: #1476FF;
  color: #FFFFFF;
}

.header__container-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0;
  height: 100%;
}
@media (max-width: 767px) {
  .header__container-flex {
    flex-direction: column;
    min-height: auto;
  }
}
@media (max-width: 767px) {
  .header__logo {
    margin: 0 0 45px 0;
  }
}
@media (max-width: 767px) {
  .header__logo img {
    width: 250px;
  }
}
.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .header__nav {
    flex-direction: column-reverse;
  }
}
.header__nav-pages {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 40px 0 0;
}
@media (max-width: 992px) {
  .header__nav-pages {
    margin: 0 28px 0 0;
  }
}
@media (max-width: 767px) {
  .header__nav-pages {
    margin: 0;
  }
}
.header__pages-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  margin: 0 28px 0 0;
  color: #FFFFFF;
  background-color: #1476FF;
  border-radius: 50%;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 11px;
  text-align: center;
}
@media (max-width: 992px) {
  .header__pages-number {
    margin: 0 10px 0 0;
  }
}
.header__pages {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}
@media (max-width: 767px) {
  .header__nav-link {
    margin: 0 0 20px 0;
  }
}
.header__nav-link:first-of-type {
  margin: 0 22px 0 0;
}
@media (max-width: 992px) {
  .header__nav-link:first-of-type {
    margin: 0 15px 0 0;
  }
}
@media (max-width: 767px) {
  .header__nav-link:first-of-type {
    margin: 0 0 40px 0;
  }
}

.presentation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #F7F9FC;
}
.presentation__block-left {
  flex: 0 0 100%;
}
@media (max-width: 992px) {
  .presentation__block-left {
    z-index: 2;
  }
}
.presentation__block-left_wrapper {
  max-width: 1250px;
  height: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.presentation__block-left_body {
  width: 44.8%;
}
@media (max-width: 992px) {
  .presentation__block-left_body {
    width: 100%;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.presentation__title {
  margin-bottom: 15px;
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  line-height: 66px;
  color: #0B0E2C;
}
.presentation__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 32px;
  color: #6F7182;
  margin-bottom: 43px;
}
@media (max-width: 992px) {
  .presentation__subtitle {
    color: #0B0E2C;
  }
}
.presentation__link-container {
  display: flex;
  flex-direction: row;
}
@media (max-width: 992px) {
  .presentation__link-container {
    display: none;
  }
}
.presentation__link:first-child {
  margin-right: 14px;
}
.presentation__block-right {
  background-color: #F7F9FC;
  padding: 80px 0;
  flex: 0 0 100%;
  transform: translate(-40%, 0);
}
@media (max-width: 992px) {
  .presentation__block-right {
    padding: 10px 0;
    z-index: 1;
    transform: translate(-100%, 0);
    opacity: 0.2;
  }
}
.presentation__image {
  position: relative;
  transform: translate(-150px, 0);
}
@media (max-width: 992px) {
  .presentation__image {
    transform: translate(0, 0);
  }
}
.presentation__screens-number {
  position: absolute;
  top: 20%;
  left: 15%;
}
@media (max-width: 992px) {
  .presentation__screens-number {
    opacity: 0.6;
    top: 60%;
    left: 60%;
  }
}
.presentation__screens-number_container {
  position: absolute;
  top: 38%;
  left: 39%;
}
.presentation__screens-number_number {
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  line-height: 66px;
  color: #FFFFFF;
}
.presentation__screens-number_subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
  letter-spacing: 1.08px;
  text-transform: uppercase;
  color: #FFFFFF;
}

/*# sourceMappingURL=index.css.map */
