.button {
    @include center;
    @include boldsmall;
    width: 160px;
    height: 52px;
    background-color: $main-color;
    border: 1px solid $border-color;
    border-radius: 48px;
    box-shadow: 0px 4px 10px rgba(20, 20, 43, 0.04);

    &_stretch {
        width: fit-content;
        padding: 0 35px;
        white-space: nowrap;
    }

    &_active {
        background-color: $subcolor;
        color: $main-color;
    }
}
