.footer {

    background-color: $bg-color;

    &__container {
        @include center;
        @include subtitle;
        min-height: 81px;
        line-height: 26px;

        @media (max-width: 550px) {
            flex-direction: column;
            padding: 15px 0;
        }
    }

    &__copyright {
        margin: 0 6px 0 0;
    }

    &__link {
        color: $subcolor;
    }

    &__author {
        padding: 0 0 0 6px;
    }
}

