.selling {

    margin: 0 0 -40px 0;

    &__container {

        @include rounded-rectangle;
        transform: translate( 0, -180px );
        border: none;
        border-bottom-right-radius: 0px;
        border-top-right-radius: 0px;
        display: flex;
        background-color: $subcolor;

        @media (max-width: 992px) {
            flex-direction: column-reverse;
            border-bottom-right-radius: 20px;
            text-align: center;
        }

        @media (max-width: 767px) {
            flex-direction: column-reverse;
            border-bottom-right-radius: 20px;
        }

        &_left-block {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0 84px 0 84px;

            @media (max-width: 992px) {
                align-items: center;
                padding: 40px 84px;
            }

            @media (max-width: 767px) {
                padding: 40px 15px;
            }
        }
    }

    &__title {
        @include h2;
        margin: 0 0 8px 0;
        color: $main-color;
        text-align: left;

        @media (max-width: 992px) {
            text-align: center;
        }
    }

    &__subtitle {
        @include subtitle;
        margin: 0 0 43px 0;
        color: $main-color;

    }

    &__button {
        color: $subcolor;
    }
}
